#ignore mac fs files
.DS_Store

# ignore ue binaries
Binaries/*
Intermediate/*

# ignore vtk library folder except the UE build script
Temporary
Source/ThirdParty/VTKLibrary/*
!Source/ThirdParty/VTKLibrary/VTKLibrary.Build.cs
