#ignore mac fs files
.DS_Store

# ignore ue binaries
Binaries/*
Intermediate/*

# ignore vtk buld locations
Temporary
Source/ThirdParty/VTKLibrary/Public
Source/ThirdParty/VTKLibrary/Windows
Source/ThirdParty/VTKLibrary/Mac
Source/ThirdParty/VTKLibrary/Linux
