#ignore mac fs files
.DS_Store
.vscode

# ignore ue binaries
Binaries/*
Intermediate/*

# ignore vtk library folder except the UE build script
Temporary
Source/ThirdParty/VtkLibrary/*
!Source/ThirdParty/VtkLibrary/VtkLibrary.Build.cs
